.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.904);
}

.clock {
  font-size: 4rem;
  color: #722ed1  ;
  border: 1px solid rgba(0, 0, 0, 0.192);
  padding:5px 40px 15px 40px;
  border-radius: 40px;
  background-color: #efdbffdc;
  box-shadow:5px 20px 200px #722ed1 ;
  width: 25%;
  text-align: center;
}